<app-customer-layout></app-customer-layout>

<div class="form1">
  <form action="/action_page.php" #addressforn="ngForm" (ngSubmit)="update(addressforn)" style="border:1px solid #ccc">
    <div class="container">
      <h1>Add Address</h1>
      <label for="Email"><b>Email</b></label>
      <input type="email" name="email" [(ngModel)]="emailid" readonly>



      <label for="Email"><b>Building no</b></label>
      <input type="text" placeholder="Enter Building no" name="Building" #Building="ngModel"  required ngModel pattern="^[A-Za-z0-9]+$">
      <div *ngIf="Building.errors && (Building.dirty || Building.touched)" style="text-align:left; padding-top:5px; color:red;">
        <div [hidden]="!Building.errors.required">
          <p>&nbsp;Building no is mandatory</p>
        </div>
        <div [hidden]="!Building.errors.pattern">
          <p>&nbsp;Buiding Number should not contain spaces and alphanumric characters</p>
        </div>
      </div>





      <label for="contactnumber"><b>Street Name</b></label>
      <input type="text" placeholder="Street Number" name="Street" #Street="ngModel" required ngModel pattern="^[A-Za-z0-9]+$">
      <div *ngIf="Street.errors && (Street.dirty || Street.touched)" style="text-align:left; padding-top:5px; color:red;">
        <div [hidden]="!Street.errors.required">
          <p>&nbsp;Street Name is mandatory</p>
        </div>
        <div [hidden]="!Street.errors.pattern">
          <p>&nbsp;Street Number should not contain spaces and alphanumric characters</p>
        </div>
      </div>

      <label for="contactnumber"><b>Locality</b></label>
      <input type="text" placeholder="Locality" name="Locality"  #Locality="ngModel" maxlength="10" required ngModel pattern="^[a-zA-Z]*$">
      <div *ngIf="Locality.errors && (Locality.dirty || Locality.touched)" style="text-align:left; padding-top:5px; color:red;">
        <div [hidden]="!Locality.errors.required">
          <p>&nbsp;Locality is mandatory</p>
        </div>
        <div [hidden]="!Locality.errors.pattern">
          <p>&nbsp;Locality should only have alphabets</p>
        </div>
      </div>

      <label for="contactnumber"><b>Pincode</b></label>
      <input type="text" placeholder="Pincode" name="Pincode" #Pincode="ngModel" maxlength="6" required ngModel pattern="[1-9]{1}[0-9]{5}">
      <div *ngIf="Pincode.errors && (Pincode.dirty || Pincode.touched)" style="text-align:left; padding-top:5px; color:red;">
        <div [hidden]="!Pincode.errors.required">
          <p>&nbsp;Pincode is mandatory</p>
        </div>
        <div [hidden]="!Pincode.errors.pattern">
          <p>&nbsp;Enter Vaild Pincode</p>
        </div>
      </div>
      <div class="clearfix">


        <button type="button" class="cancelbtn" (click)="cancel()">Cancel</button>
        <button type="submit" class="signupbtn" [disabled]="!addressforn.form.valid">Add</button>

      </div>
    </div>
  </form>
  <form name="form2">
    <label for="Email"><b> Address</b></label>
    <br />
    <select style="width:100%; height:40px" placeholder="Sender Address" name="senderaddr"  #senderaddr="ngModel" ngModel>
      <option *ngFor="let x of addresses" value={{x.addressId}} selected>{{x.locality+" "+x.pincode}}</option>
    </select>
    <div *ngIf="senderaddr.errors && (senderaddr.dirty || senderaddr.touched)" style="text-align:left; padding-top:5px; color:red;">
      <div [hidden]="!senderaddr.errors.required">
        <p>&nbsp;Select an Address</p>
      </div>
    </div>
    <div class="clearfix">
      <button type="submit" class="signupbtn"   (click)="remove(senderaddr.value)">Remove</button>

    </div>
  </form>
</div>

<button style="position: center;
  bottom: 5px;
  width:5%;
  right: 5px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  outline: none;" (click)="gotoTop()">
  👆
</button>
